<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.instructorsystem.instructor.dao.AchievementMapper" >
  <resultMap id="BaseResultMap" type="cn.instructorsystem.instructor.model.Achievement" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="stu_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="score1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="score2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="score3" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="comprehensive1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="comprehensive2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="comprehensive3" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ins_account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="score1_rank" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="score2_rank" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="score3_rank" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="comprehensive1_rank" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="comprehensive2_rank" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="comprehensive3_rank" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account, stu_name, score1, score2, score3, comprehensive1, comprehensive2, comprehensive3, 
    ins_account, score1_rank, score2_rank, score3_rank, comprehensive1_rank, comprehensive2_rank, 
    comprehensive3_rank
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.instructorsystem.instructor.model.AchievementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from achievement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from achievement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from achievement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.instructorsystem.instructor.model.AchievementExample" >
    delete from achievement
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.instructorsystem.instructor.model.Achievement" >
    insert into achievement (id, account, stu_name, 
      score1, score2, score3, 
      comprehensive1, comprehensive2, comprehensive3, 
      ins_account, score1_rank, score2_rank, 
      score3_rank, comprehensive1_rank, comprehensive2_rank, 
      comprehensive3_rank)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{stuName,jdbcType=VARCHAR}, 
      #{score1,jdbcType=VARCHAR}, #{score2,jdbcType=VARCHAR}, #{score3,jdbcType=VARCHAR}, 
      #{comprehensive1,jdbcType=VARCHAR}, #{comprehensive2,jdbcType=VARCHAR}, #{comprehensive3,jdbcType=VARCHAR}, 
      #{insAccount,jdbcType=VARCHAR}, #{score1Rank,jdbcType=VARCHAR}, #{score2Rank,jdbcType=VARCHAR}, 
      #{score3Rank,jdbcType=VARCHAR}, #{comprehensive1Rank,jdbcType=VARCHAR}, #{comprehensive2Rank,jdbcType=VARCHAR}, 
      #{comprehensive3Rank,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.instructorsystem.instructor.model.Achievement" >
    insert into achievement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="stuName != null" >
        stu_name,
      </if>
      <if test="score1 != null" >
        score1,
      </if>
      <if test="score2 != null" >
        score2,
      </if>
      <if test="score3 != null" >
        score3,
      </if>
      <if test="comprehensive1 != null" >
        comprehensive1,
      </if>
      <if test="comprehensive2 != null" >
        comprehensive2,
      </if>
      <if test="comprehensive3 != null" >
        comprehensive3,
      </if>
      <if test="insAccount != null" >
        ins_account,
      </if>
      <if test="score1Rank != null" >
        score1_rank,
      </if>
      <if test="score2Rank != null" >
        score2_rank,
      </if>
      <if test="score3Rank != null" >
        score3_rank,
      </if>
      <if test="comprehensive1Rank != null" >
        comprehensive1_rank,
      </if>
      <if test="comprehensive2Rank != null" >
        comprehensive2_rank,
      </if>
      <if test="comprehensive3Rank != null" >
        comprehensive3_rank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="score1 != null" >
        #{score1,jdbcType=VARCHAR},
      </if>
      <if test="score2 != null" >
        #{score2,jdbcType=VARCHAR},
      </if>
      <if test="score3 != null" >
        #{score3,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive1 != null" >
        #{comprehensive1,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive2 != null" >
        #{comprehensive2,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive3 != null" >
        #{comprehensive3,jdbcType=VARCHAR},
      </if>
      <if test="insAccount != null" >
        #{insAccount,jdbcType=VARCHAR},
      </if>
      <if test="score1Rank != null" >
        #{score1Rank,jdbcType=VARCHAR},
      </if>
      <if test="score2Rank != null" >
        #{score2Rank,jdbcType=VARCHAR},
      </if>
      <if test="score3Rank != null" >
        #{score3Rank,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive1Rank != null" >
        #{comprehensive1Rank,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive2Rank != null" >
        #{comprehensive2Rank,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive3Rank != null" >
        #{comprehensive3Rank,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update achievement
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.stuName != null" >
        stu_name = #{record.stuName,jdbcType=VARCHAR},
      </if>
      <if test="record.score1 != null" >
        score1 = #{record.score1,jdbcType=VARCHAR},
      </if>
      <if test="record.score2 != null" >
        score2 = #{record.score2,jdbcType=VARCHAR},
      </if>
      <if test="record.score3 != null" >
        score3 = #{record.score3,jdbcType=VARCHAR},
      </if>
      <if test="record.comprehensive1 != null" >
        comprehensive1 = #{record.comprehensive1,jdbcType=VARCHAR},
      </if>
      <if test="record.comprehensive2 != null" >
        comprehensive2 = #{record.comprehensive2,jdbcType=VARCHAR},
      </if>
      <if test="record.comprehensive3 != null" >
        comprehensive3 = #{record.comprehensive3,jdbcType=VARCHAR},
      </if>
      <if test="record.insAccount != null" >
        ins_account = #{record.insAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.score1Rank != null" >
        score1_rank = #{record.score1Rank,jdbcType=VARCHAR},
      </if>
      <if test="record.score2Rank != null" >
        score2_rank = #{record.score2Rank,jdbcType=VARCHAR},
      </if>
      <if test="record.score3Rank != null" >
        score3_rank = #{record.score3Rank,jdbcType=VARCHAR},
      </if>
      <if test="record.comprehensive1Rank != null" >
        comprehensive1_rank = #{record.comprehensive1Rank,jdbcType=VARCHAR},
      </if>
      <if test="record.comprehensive2Rank != null" >
        comprehensive2_rank = #{record.comprehensive2Rank,jdbcType=VARCHAR},
      </if>
      <if test="record.comprehensive3Rank != null" >
        comprehensive3_rank = #{record.comprehensive3Rank,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update achievement
    set id = #{record.id,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      stu_name = #{record.stuName,jdbcType=VARCHAR},
      score1 = #{record.score1,jdbcType=VARCHAR},
      score2 = #{record.score2,jdbcType=VARCHAR},
      score3 = #{record.score3,jdbcType=VARCHAR},
      comprehensive1 = #{record.comprehensive1,jdbcType=VARCHAR},
      comprehensive2 = #{record.comprehensive2,jdbcType=VARCHAR},
      comprehensive3 = #{record.comprehensive3,jdbcType=VARCHAR},
      ins_account = #{record.insAccount,jdbcType=VARCHAR},
      score1_rank = #{record.score1Rank,jdbcType=VARCHAR},
      score2_rank = #{record.score2Rank,jdbcType=VARCHAR},
      score3_rank = #{record.score3Rank,jdbcType=VARCHAR},
      comprehensive1_rank = #{record.comprehensive1Rank,jdbcType=VARCHAR},
      comprehensive2_rank = #{record.comprehensive2Rank,jdbcType=VARCHAR},
      comprehensive3_rank = #{record.comprehensive3Rank,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.instructorsystem.instructor.model.Achievement" >
    update achievement
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="score1 != null" >
        score1 = #{score1,jdbcType=VARCHAR},
      </if>
      <if test="score2 != null" >
        score2 = #{score2,jdbcType=VARCHAR},
      </if>
      <if test="score3 != null" >
        score3 = #{score3,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive1 != null" >
        comprehensive1 = #{comprehensive1,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive2 != null" >
        comprehensive2 = #{comprehensive2,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive3 != null" >
        comprehensive3 = #{comprehensive3,jdbcType=VARCHAR},
      </if>
      <if test="insAccount != null" >
        ins_account = #{insAccount,jdbcType=VARCHAR},
      </if>
      <if test="score1Rank != null" >
        score1_rank = #{score1Rank,jdbcType=VARCHAR},
      </if>
      <if test="score2Rank != null" >
        score2_rank = #{score2Rank,jdbcType=VARCHAR},
      </if>
      <if test="score3Rank != null" >
        score3_rank = #{score3Rank,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive1Rank != null" >
        comprehensive1_rank = #{comprehensive1Rank,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive2Rank != null" >
        comprehensive2_rank = #{comprehensive2Rank,jdbcType=VARCHAR},
      </if>
      <if test="comprehensive3Rank != null" >
        comprehensive3_rank = #{comprehensive3Rank,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.instructorsystem.instructor.model.Achievement" >
    update achievement
    set account = #{account,jdbcType=VARCHAR},
      stu_name = #{stuName,jdbcType=VARCHAR},
      score1 = #{score1,jdbcType=VARCHAR},
      score2 = #{score2,jdbcType=VARCHAR},
      score3 = #{score3,jdbcType=VARCHAR},
      comprehensive1 = #{comprehensive1,jdbcType=VARCHAR},
      comprehensive2 = #{comprehensive2,jdbcType=VARCHAR},
      comprehensive3 = #{comprehensive3,jdbcType=VARCHAR},
      ins_account = #{insAccount,jdbcType=VARCHAR},
      score1_rank = #{score1Rank,jdbcType=VARCHAR},
      score2_rank = #{score2Rank,jdbcType=VARCHAR},
      score3_rank = #{score3Rank,jdbcType=VARCHAR},
      comprehensive1_rank = #{comprehensive1Rank,jdbcType=VARCHAR},
      comprehensive2_rank = #{comprehensive2Rank,jdbcType=VARCHAR},
      comprehensive3_rank = #{comprehensive3Rank,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>