<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.instructorsystem.instructor.dao.PunishmentMapper" >
  <resultMap id="punishmentRankingList" type="cn.instructorsystem.instructor.model.res.PunishmentRanking">
    <result column="account" property="account"/>
    <result column="stu_name" property="stuName"/>
    <result column="punishment_times" property="punishmentTimes"/>
  </resultMap>

  <select id="countPunishmentsByAccount" parameterType="cn.instructorsystem.instructor.model.Punishment" resultMap="punishmentRankingList">
    select account, stu_name, count(id) as punishment_times
    from punishment
    <where>
      <if test="insAccount != null" >
        ins_account = #{insAccount,jdbcType=VARCHAR}
      </if>
    </where>
    group by account
  </select>
</mapper>